github "tid-kijyun/Kanna" ~> 1.0.0
github "onevcat/Kingfisher" ~> 1.9
github "SnapKit/SnapKit"
github "radex/SwiftyUserDefaults"
github "TTTAttributedLabel/TTTAttributedLabel"
github "thii/FontAwesome.swift" >= 0.4.1
github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire" ~> 3.0